PyQt5
pandas
numpy
matplotlib
reportlab
fastapi 
uvicorn 
motor 
python-jose 
passlib[bcrypt] 
python-dotenv

pymongo

google-cloud-vision
Pillow
pdfplumber
pdf2image
pytesseract
scikit-learn
joblib

